- if @shop_items.present?
  %p
    Best price for your location
    \- #{@shop_items.min_by { |item| item.price.to_f }.price}
  %table.table.table-striped
    %thead
      %tr
        %th Type
        %th Price
        %th Location
        %th Image
    %tbody
      - @shop_items.each do |item|
        %tr
          %td
            = item.name
          %td
            = item.price
          %td
            = item.location
          %td
            = image_tag(item.image, width: '150px')
- else
  %p
    Sorry, no cats for your location
