.container
  .row
    .col-md-6.text-center.mx-auto
      = form_tag shop_items_path, method: :get, class: 'form-horizontal center' do
        .form-group
          %label Select cat type:
          = select_tag :cat_type, options_for_select(Settings.cat_types), class: 'form-control'
        .form-group
          %label Select your location:
          = select_tag :location, options_for_select(Settings.locations), class: 'form-control'

        %div
          = submit_tag 'Send request', class: 'btn btn-primary'
